<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>首頁</title>
</head>

<body>
    <!-- {{content}} -->
    <h1>訪客:{{content['name']}}</h1>
    <p>目前時間:{{content['time']}}</p>
    <ul>
        <li><a href="/stock" target="_blank">股市資訊</a></li>
        <li><a href="/pm25" target="_blank">PM2.5資訊</a></li>
        <li><a href="/pm25-chart" target="_blank">PM2.5圖表</a></li>
    </ul>

</body>

</html>